h1 Login
div
  form(action='/login', method='post')
    div
      input(id='email',type='text',name='email')
    div
      input(id='password',type='text',name='password')
    div
      input(type='submit', value='login')
