h1 SIGN UP PLACE

div
  form(action='/signup', method='post')
    div
      p Enter Email
    div
      input(id='email',type='text',name='email')
    div
      p Enter Name
    div
      input(id='name',type='text',name='name')
    div
      p Enter Password
    div
      input(id='password',type='text',name='password')
    div
      input(type='submit', value='Sign Up')
